{% extends 'core/base.html' %}
{% block content %}
<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-7">
            <!-- Featured blog post-->
            {% for post in posts %}
            <div class="card mb-4">
                <a href="/post_detail/{{post.id}}"><img class="card-img-top" src="{{post.image.url}}" alt="..." width="850" height="350"/></a>
                <div class="card-body">
                    <div class="small text-muted">{{post.created_at}}</div>
                    <h2 class="card-title">{{post.title}}</h2>
                    <p class="card-text overflow-hidden">{{post.content}}</p>
                    <a class="btn btn-primary" href="/post_detail/{{post.id}}">Read more</a>
                    <a class="btn btn-primary" href="/update_post/{{post.id}}">Update</a>
                    <a class="btn btn-primary" href="/delete_post/{{post.id}}">Delete</a>
                </div>
            </div>
            {% endfor %}
            <!-- Pagination-->
            <nav aria-label="Pagination">
                <hr class="my-0" />
                <ul class="pagination justify-content-center my-4">
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                    <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                    <li class="page-item"><a class="page-link" href="#!">2</a></li>
                    <li class="page-item"><a class="page-link" href="#!">3</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                    <li class="page-item"><a class="page-link" href="#!">15</a></li>
                    <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                </ul>
            </nav>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-5">
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">New Post</div>
                <div class="card-body">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.as_p}}
                        <div class="form-group row">
                            <div class="col-sm-9">
                            <button type="submit" class="btn btn-primary">Write a post</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}