{% extends 'core/base.html' %}
{% block content %}

<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-10">
            <!-- Post content-->
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <div class="form-group row">
                    <div class="col-sm-9">
                    <button type="submit" class="btn btn-primary">update</button>
                    </div>
                </div>
            </form>            
        </div>
    </div>
</div>
{% endblock %}